h2 {
 font-size:32px;
}
h3 {
 font-size:32px;
}
body {
  width:800px;
}
h4 {
  font-size:32px;
}
h5 {
  font-size:32px;
}
h6 {
  font-size:32px;
}
h7 {
  font-size:32px;
}
h8 {
  font-size:32px;
}
h9 {
  font-size:32px;
}
p {
  font-size:15px;
}
body {
  background-color:tan;
}