p {
  font-size:18px;
  width:800px;
  }
h2 {
  color:black;
  font-size:36px;
  width:800px;
}
h3 {
  font-size:36px;
  width:800px;
}
h4 {
 Font-size:36px;
  width:800px;
  }
 body {
 background-color:tan;
  position: absolute;
   background-size:1400px;
  }

